//
// generic

	html, body {
		margin: 0;
		padding: 0;
		font: 96%/1.5 Arial, sans-serif;
	}

	[hidden] {
		display: none;
	}

	.clearfix {
		clear: both;
	}


//
// screen
	.screen {
		display: none;
	}
	.screen.active {
		display: block;
	}

	#init {
		padding: 5em;
		text-align: center;

		table {
			margin: 0 auto;

			th:first-child,
			td:first-child {
				text-align: right;
				padding-right: 0.5em;
			}
		}

		button {
			font-weight: bold;
			font-size: 1.3em;
			padding: 0.5em 1em;
			min-width: 8em;

			small {
				font-size: 0.7em;
				font-weight: normal;
				display: block;
			}
		}
	}


//
// screen		
	.exercises-practice {
		.instructions-w,
		.progress,
		.question-w,
		.answer,
		.correct-answer-w-w,
		.continue-w {
			margin-top: 1em;
			width: 50%;
			float: left;
		}

		.question-w,
		.correct-answer-w-w {
			clear: both;
		}
	}

	@media only screen and (max-width:600px) {
		#init {
			padding: 0.5em;

			th {
				font-size: 0.8em;
			}

			button {
				font-size: 1em;
				min-width: 7em;
			}
		}

		.exercises-practice {
			.question-w,
			.answer,
			.correct-answer-w-w,
			.continue-w {
				width: auto;
				float: none;
				margin: 0.2em;
			}
		}
	}

	@media only screen and (max-width:400px) {
		#init {
			table, thead, tbody, tr, th {
				display: block;
			}
			td {
				display: inline;
			}
			thead th {
				display: none;
			}
			tbody th:first-child {
				text-align: center;
				padding: 0.5em 0 0 0;
			}
		}
	}


//
// practice
.exercises-practice {

	.top {
		padding: 1em 0;
	}

	.instructions {
		padding: 0 1em;
		color: #666;
		font-style: italic;
	}

	.progress {
		color: #666;
		font-style: italic;
	}

	.question,
	input {
		font-weight: bold;
		font-size: 1.3em;
		padding: 0.3em;
	}
	.question {
		padding-left: 3em;
	}
	.answer {
		position: relative;
	}

	.loading {
		font-style: italic;
		padding: 0.5em;
		clear: both;
	}

	.correct-answer-w {
		padding: 0 1em;
	}
		.correct-answer {
			padding: 0.3em;
			border: 1px solid #ccc;
			margin: 0 1.5em;
			font-weight: bold;
		}

	.result {
		padding: 0.5em 0 1em 0;
	}

	.correct,
	.incorrect {
		display: inline;
		background: #333;
		background: rgba(0, 0, 0, 0.5);
		color: #fff;
		padding: 0.3em 0.6em;
	}

	&.answer-correct .input {
		background: #7f7;
	}
	&.answer-incorrect .input {
		background: #f77;
	}

	.continue {
		padding: 0.5em;
	}

	&.answered .check,
	.loading,
	.correct-answer-w-w,
	.continue-w,
	.correct,
	.incorrect {
		display: none;
	}
	&.answered .correct-answer-w-w,
	&.answered.retrieved-answer .continue-w {
		display: block;
	}


	// IE8 does not support :not()
	// Instead of: &.answered:not(.retrieved-answer) .loading { display:none; }
	.loading,
	&.answered.retrieved-answer .loading {
		display: none;
	}

&.answered .loading {
		display: block;
	}



	&.answer-correct .correct,
	&.answer-incorrect .incorrect {
		display: inline;
	}
}


//
// exercises-result

.exercises-result {
	.main-result {
		margin: 0.5em;
		padding: 0.3em 1em;
		background: #bdf;
		border: 1px solid #69f;
		border-radius: 1em;
		font-weight: bold;
	}

	ul, li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	li {
		padding: 0.5em 0 0.5em 1em;
		border-left: 0.5em solid transparent;
	}

	h3 {
		font-size: 1.2em;
		margin: 0;

		span {
			font-weight: normal;
			font-size: (1em / 1.2);

		}
	}

	.redo-all span {
		text-shadow: -0.3em 0.2em 0 rgba(0, 0, 0, 0.5);
		padding-left: 0.3em;
	}

	.user-answer span {
		border: 1px solid transparent;
		padding: 0.25em 0.5em;
		border-radius: 1em;

		&::before {
			display: inline-block;
			font-size: 1.5em;
			vertical-align: middle;
		}
	}

	.base-form {
		font-weight: bold;
	}

	.incorrect {
		border-color: #c00;
		

		.real-answer {
			border-bottom: 2px solid #090;
		}

		.user-answer span {
			background: #fdd;
			border-color: #f66;

			&::before {
				color: #c00;
				content: "✗";
			}
		}
	}
	.correct {
		.user-answer span {
			background: #dfd;
			border-color: #bfb;

			&::before {
				color: #090;
				content: "✓";
			}
		}
	}

	.question,
	.user-answer {
		display: inline-block;
		vertical-align: top;
	}

	.question {
		width: 10em;
		max-width: 100%;
	}
}
