<!DOCTYPE html>
<html lang="fi">
<meta charset="utf-8" />

<!-- META DATA -->
<title>Suomenkielen harjoitukset</title>

<script src="js/lib/q.min.js"></script>
<script src="js/lib/underscore-min.js"></script>
<script src="js/lib/jquery.min.js"></script>
<script src="js/lib/backbone-min.js"></script>
<script src="js/lib/exercises.min.js"></script>

<script src="js/app.js"></script>

<!-- optimize for mobile -->
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="css/index.css" />
<link rel="shortcut icon" href="images/favicon.ico" />


<!-- DISPLAYED CONTENT -->
<div id="init" class="screen active">
	<!--[if lt IE 9]>
		<p>This site might not work as expected in Internet Explorer 8 and below.</p>
	<![endif]-->


</div>

<div id="exercises" class="screen"></div>

<script type="text/tpl" id="tpl-init">
<%
	var numbers = [
		{
			id: 'singular',
			text: 'Yksikkö',
			text_gen: 'yksikön'
		},
		{
			id: 'plural',
			text: 'Monikko',
			text_gen: 'monikon'
		}
	];
	var cases = [
		{
			id: 'nominative',
			text: 'Nominatiivi',
			num: [{
					disabled: true,
					example: 'kukka',
					question: 'Kuka? Mikä?'
				}, {
					example: 'kukat',
					question: 'Ketkä? Mitkä?'
			}]
		},
		{
			id: 'partitive',
			text: 'Partitiivi',
			num: [{
					example: 'kukkaa',
					question: 'Ketä? Mitä?'
				}, {
					example: 'kukkia',
					question: 'Keitä? Mitä?'
			}]
		},
		{
			id: 'genitive',
			text: 'Genetiivi',
			num: [{
					example: 'kukan',
					question: 'Kenen? Minkä?'
				}, {
					example: 'kukkien',
					question: 'Keiden? Minkä?'
			}]
		},
		{
			id: 'illative',
			text: 'Illatiivi',
			num: [{
					example: 'kukkaan',
					question: 'Keneen? Mihin?'
				}, {
					example: 'kukkiin',
					question: 'Keihin? Mihin?'
			}]
		},
		{
			id: 'inessive',
			text: 'Inessiivi',
			num: [{
					example: 'kukassa',
					question: 'Kenessä? Missä?'
				}, {
					example: 'kukissa',
					question: 'Keissä? Missä?'
			}]
		}
	];
%>
<table>
	<thead>
		<tr>
			<td>
				Mitä haluat harjoitella?
			</td>
			<th><%- numbers[0].text %></th>
			<th><%- numbers[1].text %></th>
		</tr>
	</thead>
	<tbody>
		<% _.each( cases, function ( c ) { %>
			<tr>
				<th><%- c.text %></th>
				<% _.each( c.num, function ( cn, i ) {
					var n = numbers[i]; %>
					<td><button<%= cn.disabled ? ' disabled' : '' %>
						data-id="<%-n.id%>-<%-c.id%>"
						data-text="<%-n.text_gen%> <%-c.text.toLowerCase()%> (<%-cn.question.toLowerCase()%>)">
						<%- cn.example %>
						<small><%- cn.question %></small>
					</button></td>
				<% }) %>
			</tr>
		<% }) %>
	</tbody>
</table>
</script>
<script>
// Render immediately
$( '#init' ).append(
	_.template(
		$('#tpl-init').text(),
		null,
		{ variable: 'env' }
	)
);
</script>
